 

 body {
    margin:0;
     
}
#navbar{
    display: flex;
    background-color:black;
    color: white;
    padding: 2px;
}
#search{
    width: 10%;   
    padding: 2px;;
     margin: 10px;
}
#logo{

    width: 5%;
    padding-top: 2px;
    text-align: right;
}

#logo img{

    width: 40%;
    padding: 9px;
}
 
#options{
    width: 55%;
}
#list li{
    display: inline;
     margin-left: 2%;
}
#btn{
    /* background-color: aqua; */
    width: 11%;
    margin:9px 0px 0px 60px;
}
#profile{
    width: 5%;
    /* background-color: aquamarine; */
}
#profile-img{
   
    width: 80%;
    border-radius: 50%;
    height: 50px;
     
    }

  

button {
 
    height: 30px;;
    padding: 5px;
    
    cursor: pointer;
}

#container{
    text-align: center;
    /* background-color: #e64242; */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}
.user{
    display: flex;
    /* background-color: blue; */
    text-align:center;
}
.user-info{
    padding-left: 40px;
    text-align: left;
}
.img{
    width: 30%;
    /* background-color: aquamarine; */
     
}
#user-img{

    width: 70%;
    border-radius: 50%;
    height: 250px;
    border: 2px solid #D8DEE3;
     
    }
#github-profile{
    text-align: left;
    padding-left: 8%;
 
}
a{
    text-decoration: none;
    color: rgb(63, 59, 59);
 
}
#repositories {
    margin-top: 20px;
}

.repository {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

#pagination {
    margin-top: 20px;
}

#pagination button {
    padding: 8px;
    margin: 0 5px;
}

.loader {
    display: none;
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
}

.loading {
    display: block;
}
 
.column {
    width: 45%;  
    display: inline-block;
    vertical-align: top;
    margin-right: 3%;  
    
}

.repository {
    border: 2px solid black;
    padding: 10px;
    margin-bottom: 20px;  
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.repository p.language {
    display: inline-block;
    background-color: #428BCA;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-right: 10px;
}
.repository h3{
    color: #3886CA;
}

 
 
    .location-icon {
        display: flex; 
        align-items: center;  
    }
    
    .location-icon img {
        width: 20px; 
        height: 20px;
        margin-right: 5px;  
    }
    
    .user-details {
        flex: 1;  
    }

    #next {
        background-color: #3886CA;
        color: white;
        border-radius: 5px;
        padding: 8px 15px;
        border: none;
        cursor: pointer;
    }
    #next:hover {
        background-color: #1F4F7A;  
      color:rgb(156, 154, 154)0;
    }
    #prev {
        background-color: #3886CA;
        color: white;
        border-radius: 5px;
        padding: 8px 15px;
        border: none;
        cursor: pointer;
    }
    #prev:hover {
        background-color: #1F4F7A;  
    }
      
#reposPerPageContainer {
    margin-top: 20px;
}

#reposPerPageLabel {
   margin-top: 5%;
   font-weight: 600;
}

#reposPerPage {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
}

#reposPerPage option:hover {
    background-color: #f0f0f0;
}

#reposPerPage:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
